.section {
    height: 745px;
    width: 100%;
    padding-top: 128px;
    padding-bottom: 192px;
}
.reja{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    @include for-tablet-2{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      

    }
}
.section_menu{
    font-family: $title_fonts;
    max-width: 300px;
    font-size: 46px;
    font-weight: 600;
    color: #ffff;
    @include for-tablet-2{
      font-size: 36px;
    }
}
.animated-text {
    height: 70px;
    overflow: hidden;
    position: relative;
    margin-top: 70px;
}

.animated-text>h3 {
    max-width:700px;
    font-family: $title_fonts;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;

}
.animated-text>h3:nth-child(1) {
    animation: text-move 10s infinite;
}

@keyframes text-move {
    0% {
        margin-top: 0;
    }

    25% {
        margin-top: -70px;
    }

    50% {
        margin-top: -140px;
    }

    75% {
        margin-top: -70px;
    }

    100% {
        margin-top: 0;
    }
}



@mixin sp-layout {
    @media screen and (max-width: 750px) {
      @content;
    }
  }
  
  .section{
    min-height: 100vh;
     background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  }
  
  @function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
  }
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotate(-45deg);
  }
  
  .star {
    $star-count: 50;
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
  
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, white, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px white);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
    
    @include sp-layout {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  
    @for $i from 1 through $star-count {
      &:nth-child(#{$i}) {
        --star-tail-length: #{random_range(500em, 750em) / 100};
        --top-offset: #{random_range(0vh, 10000vh) / 100};
        --fall-duration: #{random_range(6000, 12000s) / 1000};
        --fall-delay: #{random_range(0, 10000s) / 1000};
      }
    }
  
    &::before, &::after {
      position: absolute;
      content: '';
      top: 0;
      left: calc(var(--star-width) / -2);
      width: var(--star-width);
      // height: 100%;
      background: linear-gradient(45deg, transparent, currentColor, transparent);
      border-radius: inherit;
      animation: blink 2s linear infinite;
    }
  
    &::before {
      transform: rotate(45deg);
    }
  
    &::after {
      transform: rotate(-45deg);
    }
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
  
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
  
    100% {
      width: 0;
      opacity: 0;
    }
  }
  
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }
  .adabiyotlar{
    text-transform: uppercase;
  }
.btn-2{
    cursor: pointer;
    max-width: 204px;
    height: 56px;
    padding: 16px 48px;
    background-color:#ffffff;
    color: #000;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-top: 50px;
  }
  .a-link{
    text-decoration: none;
    color: #ffffff;
  }
  .a-list_text{
    color: #ffffff;
  }
  .section-3_text{
    color: #0c0d13;
    font-family: $text_fonts;
  }
  .text{
    margin-top: 100px;
    padding: 20px 20px;
    border: 1px solid #ffffff;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .text>p{
    padding-top: 10px;
    font-family: $text_fonts;
    font-size: 20px;
  }
  .section-3_ifromation{
    padding-top: 50px;
  }
  .section-3_ifromation>h3{
    font-family: $title_fonts;
    font-size: 32px;
  }
  .section-3_list{
    padding-top: 10px;
    list-style: none;
  }
  .section-3_list>li{
    font-size: 22px;
  }
  .section-3_list>li>span{
    color: red;
  }
  canvas{
    width: 500px;
    height: 500px;
    @include for-phone-2{
      width: 300px;
      height: 300px;
    }
    @include for-phone{
      width: 200px;
      height: 200px;
    }

  }

  .video{
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    justify-content: center;
  }
  .photo_header{
    width: 100%;
    height: 100vh;
  }
  footer{
    margin-top: 100px;
    background-color: $bacround;
    color: #ffffff;
    padding: 40px 20px;
  }
  .xulosa>p{
    font-size: 18px;
    font-family: $text_fonts;
  }
  .article-2_text{
    margin-top: 50px;
    padding: 20px 20px;
    border: 1px solid #ffffff;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .article-2_text>p{
    padding-top: 10px;
    font-family: $text_fonts;
    font-size: 20px;
  }
  .article-3_text{
    margin-top: 50px;
    padding: 20px 20px;
    border: 1px solid #ffffff;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .article-3_text>p{
    padding-top: 10px;
    font-family: $text_fonts;
    font-size: 20px;
  }